@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 1px solid black;
  padding: 10px;
}
/* Chrome e outros */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}